.color-by-name{
    background-color: coral;
    color: rebeccapurple;
    border: thick solid greenyellow;
}
/*RGB*/
.color-hex{
    background-color: #00000050;
    color: rebeccapurple;
    border: thick solid greenyellow;
}

.opacity{
    background-color: orchid;
    color: navy;
    border: thick solid black;
    opacity: 0.5;
}