*,*::after,*::before{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

img{
    max-width: 100%;
    height: auto;
}
main{
    flex-grow: 1;
}
.titulares{
    padding:1rem;
    background-color: #333;
    color:#eee;
}
a{
    color:#eee;
}
.header{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.menu ul{
    list-style-type: none;
}

.hero-image{
    min-height: 100vh;
    background-image: url("https://placeimg.com/1900/1080/animals");
    background-repeat: no-repeat;
    color:#fff;
}
.hero-image>div{
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(0,0,0,.75);
}

.hero-image h1{
    font-size: 5vw;
}
@media screen and (min-width:1024px){
    .header{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .menu ul{
        display:flex;
    }

    .menu li{
        padding: .5rem;
    }
    .flex-container{
        display:flex;
        align-items: center;
    }
    .flex-item{
        flex:0 0 50%;
    }
    .flex-row-reverse{
        flex-direction: row-reverse;
    }
}