*,*::after,*::before{
    box-sizing: border-box;
}

.container{
    margin:auto;
    max-width: 1200px;
}

.flex-container{
    display:flex;
    flex-flow: row wrap;   
}

.flex-items{
    border:thin solid black;
    flex: 0 0 100%;
}


@media(min-width:576px){
    .flex-items{
        flex:0 0 50%;
    }
}


@media(min-width:768px){
    .flex-items{
        flex: 0 0 33.333333333%;
    }
}

@media(min-width:992px){
    .flex-items{
        flex: 0 0 25%;
    }
}

@media(min-width:1200px){
    .flex-items{
        flex: 0 0 16.66666666667%;
    }
}

.flex-items:nth-child(19){
    flex-shrink: 2;
}